<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    {% if msg %}
    <script>
        alert("{{msg}}")
        history.replaceState({}, null, location.pathname);
    </script>
    {% endif %}
    <h1>Main</h1>
    {% if email %}
    반가워요. {{email}}님 ☺️
    {% endif %}
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/join">Join</a></li>
        {% if email %}
            <li><a href="/logout">Logout</a></li>
        {% endif %}
        <li><a href="/board">Board</a></li>
    </ul>
</body>
</html>